<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="false" cacheResult="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" verbose="true" bootstrap="./vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <report>
      <clover outputFile="coverage/report.clover"/>
      <text outputFile="coverage/report.txt"/>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
  <php>
    <ini name="date.timezone" value="UTC"/>
    <ini name="display_errors" value="On"/>
    <ini name="display_startup_errors" value="On"/>
    <ini name="error_reporting" value="E_ALL"/>
    <env name="NATS_CLIENT_LOG" value="false"/>
    <env name="NATS_CLIENT_VERBOSE" value="0"/>
    <env name="NATS_HOST" value="localhost"/>
    <env name="NATS_PORT" value="4222"/>
  </php>
  <testsuites>
    <testsuite name="Tests">
      <directory>./tests/Unit</directory>
      <directory>./tests/Functional</directory>
    </testsuite>
    <testsuite name="Performance">
      <directory>./tests/Performance</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
