name: tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NATS_CLIENT_LOG: 1
      NATS_TEST_LOG: 1
    strategy:
      matrix:
        php: ["8.1", "8.2"]
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - uses: php-actions/composer@v6
      - run: docker compose up -d
        working-directory: docker
      - run: vendor/bin/phpunit --testsuite Tests
      - name: Archive code coverage results
        if: matrix.php == '8.1'
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: ./coverage
